<style>
body{
 	display: grid;
	grid-template-columns: 20% 3% 77%; /*aceptan porcentajes*/
	grid-template-rows: 8vw 1fr 50px; /*no aceptan porcentajes*/
	grid-template-areas: 
	"cabecera cabecera cabecera"
	"nav lapiz contenidopdf"
	"pie pie pie";
}

.nav {
    grid-area: nav;  background-color:white;
    box-sizing: border-box;
}
.main {
    grid-area:contenidopdf; 
    border-color: #4F92AC; 
    border-width: 0.4 vw;
    border-style: solid; 
}

#GoogleForms{
    width: 100%;
    height: 100%;
}

#imagenpdf {
    width:100%;
}

#section-to-print {
    display: none;
    /* visibility: hidden; */
  }

@media print {
  body * {
    display: none;
    /* visibility: hidden; */
  }
  #section-to-print, #section-to-print * {
    display: block; 
    /* visibility: visible; */
  }
  #section-to-print {
    position: absolute;
    left: 0;
    top: 0;
  }
}

#arrowLeft, #arrowRight{
      height: 4vw;
      width: 4vw;
  }
.arrow{
    display: inline;
}

.footer{
    grid-area:pie;
    background-image: url("../img/footer.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

#LapizHori{
    grid-area: lapiz;
    height: 80vh;
    width: 100%;
    position: relative;
}

</style>
    
<script> 
	import { fade } from 'svelte/transition';
    import Menubarra from "./menubarra.svelte";
    import Lap from "./lapiz.svelte";
    
    document.oncontextmenu = ()=>{
        return false;
    }

    document.onkeydown = function (event) {
        if (event.ctrlKey || event.metaKey || event.code == "F12")
            return false;
    }

    let page = 1, guia = 1;
        
    let Promesaimagen;

    let visibleMain = false;
    let visibleImg = false;
    let maxPages = 0;

    let VisibleGoogleForms = false;

    async function fetchData() {
        let host = location.host;
        const response = await fetch(`http://${host}/leerGuia/${guia}/${page}`);
        let respuesta = await response.json();
        if (respuesta.error)
            throw respuesta.error;
        return respuesta;
	};

    function ClicLapiz(event){
        guia = event.detail.id;
        page = 1;
        visibleMain=true;
        VisibleGoogleForms = false;
        Promesaimagen = fetchData();
    }

    function naviLeft(){
        if (page > 1){
            page--;
            Promesaimagen = fetchData();
        }
    }

    function naviRight(){
        if (page < maxPages){
            page++;
            Promesaimagen = fetchData();
        }
    }

    function clicPracticas(event){
        visibleMain = false;
        VisibleGoogleForms = true;
    }

    function clicMenuDocente(event){
        guia = event.detail.idMenu;
        page = 1;
        visibleMain=true;
        VisibleGoogleForms = false;
        Promesaimagen = fetchData();
    }

</script>
<body>
    <Menubarra on:practica={clicPracticas} on:MenuDocenteClick={clicMenuDocente}></Menubarra>
    <nav class="nav">
        <Lap ruta="img/Boton1.png" nombre= "UNIDAD 1" id=1 on:message={ClicLapiz} ></Lap>
        <Lap ruta="img/Boton2.png" nombre= "UNIDAD 2" id=2 on:message={ClicLapiz}></Lap>
        <Lap ruta="img/Boton3.png" nombre= "UNIDAD 3" id=3 on:message={ClicLapiz}></Lap>
        <Lap ruta="img/Boton4.png" nombre= "UNIDAD 4" id=4></Lap>
        <Lap ruta="img/Boton5.png" nombre= "UNIDAD 5" id=5></Lap>
        <Lap ruta="img/Boton6.png" nombre= "UNIDAD 6" id=6></Lap>
        <Lap ruta="img/Boton7.png" nombre= "UNIDAD 7" id=7></Lap>
    </nav>
    <img src="img/LapizHori.png" alt="" id="LapizHori">  
    <main class="main">
     
    {#if visibleMain}
        {#await Promesaimagen}
        <p transition:fade
            on:introstart="{() => visibleImg = false}"
            on:outroend="{() => visibleImg = true}">
            Espera... </p>
        {:then respuesta} 
            {#if visibleImg}
                <section in:fade={{ duration: 2000 }} on:introend="{()=> maxPages = respuesta.maxPages}" >
                    <img src="{respuesta.imagen_b64}" alt="" id="imagenpdf">
                </section>
            {/if}
        {:catch error}
            <p style="color: red" transition:fade>Error no controlado, el error es: {error}</p>
        {/await}
        <section class="arrow" on:click={naviLeft}>
            <img src="img/arrowLeft.png"  alt="" id="arrowLeft" >
        </section>
        Página {page} de {maxPages} 
        <section class="arrow" on:click={naviRight}>
            <img src="img/arrowRight.png" alt="" id="arrowRight">    
        </section>
    {/if} 
    {#if VisibleGoogleForms}
        <iframe id="GoogleForms" title="" src="https://docs.google.com/forms/d/e/1FAIpQLScj7lZ8-EoMIDLhDZ_9Xml60oU015aIza9H6e_2FTgyah22ig/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
    {/if}   

    </main>
    <footer class="footer"></footer>
</body>

<div id="section-to-print">
    <h1>No debes imprimir</h1>
</div>
