<script>
    export let id;
    export let ruta;
    export let nombre;

    import { createEventDispatcher } from 'svelte';

    const dispatch = createEventDispatcher();

    function eventReturnID() {
		dispatch('message', {
			id: id,
            ruta:ruta,
            nombre:nombre,
		});
	}

</script>
<style>

    @font-face{
        font-family: "BigShouldersDisplay";
        src: url("../font/BigShouldersDisplay-Bold.ttf") format('truetype');
    }

    section {
        display: flex;
        align-items: center;
        justify-content: center;
        display: flex;           /* establish flex container */
        flex-direction: column;  /* stack flex items vertically */
        position: relative;      /* establish nearest positioned ancenstor for absolute positioning */
        cursor: pointer;
    }

    .textpen{
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translate(-50%, -50%);
        font-family: "BigShouldersDisplay", cursive;
        font-size:1.8vw;
        color: white;
    }

    .boton{
	    width: 100%;
    }

</style>
<section on:click={eventReturnID}>
    <img class="boton" src="{ruta}" alt="por si">
    <div for="pen" class="textpen">{nombre} </div>
</section>
    