<script>

    import { createEventDispatcher } from 'svelte';

    const dispatch = createEventDispatcher();

    async function ListaChequeo(){
        try{
            let host = location.host;
            const response = await fetch(`http://${host}/listaChequeo`);
            let blob = await response.blob();
            if (blob.size==0){
                alert("Error al descargar la lista de chequeo del servidor");
                return;
            }
            let url = window.URL.createObjectURL(blob);
            let a = document.createElement('a');
            a.href = url;
            a.download = "listaChequeo.pdf";
            document.body.appendChild(a); // we need to append the element to the dom -> otherwise it will not work in firefox
            a.click();    
            a.remove();  //afterwards we remove the element again                
        }catch(ex){
            alert("Error no controlado, el error es: " + ex);
        } 
    }

    function cuestionarioClick(){
        dispatch('practica', {id: 1
		});
    }

    function opcionesMenuDocente(idMenu){
        dispatch('MenuDocenteClick', {idMenu: idMenu});
    }

</script>
<style>
    @font-face{
        font-family: "BigShouldersDisplay";
        src: url("../font/BigShouldersDisplay-Bold.ttf") format('truetype');
    }

    .header {
        display: table;
        grid-area: cabecera; 
        background-image: url("../img/header1.png");
        background-size: 100%;
        background-repeat: no-repeat;
        font-family: "BigShouldersDisplay", cursive;
    }

    h1 {
        float: left; 
        font-size: 3.3vw;
        left: 9vw;
        position: relative;
        color: #fff;

    }


    .header .icon-menu{
        float: right;
        font-size: 4vw;
        margin: 0 0;
        cursor: pointer;
        color: white;
    }

    #menu_uno {
        display: none;
    }

    .menu {
        z-index: 100;
        position: absolute; 
        top: 8.7vw;
        right: 2.5vw;
        width: 100%;
        background: #4F92AC;
        transition: all 0.5s;
        transform: translateX(-100%);
        font-size: 1.6vw;
    }

    .menu label {
        display: block;
        color: #fff;
        text-align: center;
        text-decoration: none;
        padding: 2vw 15px;
        font-weight: 700;
    }

    .menu label:hover {
        background: rgba(255,255,255,0.3);
    }

    #menu_uno:checked ~ .menu {
        transform: translateX(0%);
    }

    @media (min-width:640px) {
        .menu {
            position: relative;
            width: auto;
            transform: translateX(0%);
            float: right;
            display: flex;
            top: 1.3vw;
            right: 8vw;
        }
        
        .menu label {
            border: none;
        }
        
        .header .icon-menu { 
            display: none;
        }
    }

    .menuDocente-content {
        display: none;
    }

    .menuDocente:hover .menuDocente-content {
        display: block;
        background-color: #104a61;
    }

</style>

<header class="header">
    <h1>Robótica Creativa</h1>
    <input type="checkbox" id="menu_uno">
    <label class="icon-menu" for="menu_uno"></label>
    <nav class="menu">
        <div class="menuDocente">
            <label for="1">Docentes</label>
            <div class="menuDocente-content">
                <label for="11" on:click="{() => opcionesMenuDocente("D1")}">Guia Docente</label>
                <label for="12" on:click="{() => opcionesMenuDocente("D2")}">Metodología</label>
            </div>        
        </div> 
        <label for="3" on:click="{cuestionarioClick}">Cuestionario</label>
        <label for="4" on:click="{ListaChequeo}">Lista de chequeo</label>
        <label for="4" >Acerca de...</label>
    </nav>
</header>
